JIRA_BASE_URL=https://enreap.atlassian.net
JIRA_EMAIL=nancy.kaur@enreap.com
JIRA_API_TOKEN=your_api_token_here
# JIRA_BASE_URL=https://enreap-sandbox4.atlassian.net
# JIRA_EMAIL=your_email@enreap.com
# JIRA_API_TOKEN=your_api_token_here

API_PORT=3001

# ISM report script (npm run report)
ISSUE_KEY=ISM-XXXXX
SERVICE_AMOUNT_FIELD=customfield_10383
EARNED_AMOUNT_FIELD=customfield_12322
INVOICE_AMOUNT_FIELD=customfield_11366
